@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

h2 {
  font-size: 32px;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  color: #00ff00;
}

.accent {
  color: hsl(0, 100%, 50%);
}

.color1 {
  color: rgb(0, 0, 0);
}

.color2 {
  color: rgba(0, 0, 0, 0.5);
}

.shadow1 {
  text-shadow: 5px 5px 3px #ffa500;
}

.upper_lower {
  text-transform: capitalize;
}

.inside {
  list-style-position: inside;
}